@import 'popup.css';

body {
    width: 100%;
    margin: 0px;
}
.wrapper{
    width: 100%;
    height: 100%;
    position: absolute;
    display: table;
    background: url('../images/bg.jpg') 100% 100% no-repeat;
    background-size: cover;
}
.__margin-top_xs{
    margin-top: 5px;
}
.__margin-top_m{
    margin-top: 15px;
}
.__close{
    display: none;
}

.btn{
    background-color: #2a95cc;
    font-family:  Arial, sans-serif;
    cursor: pointer;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid #1f6990;
    padding: .75rem 2.3rem;
    font-size: 1rem;
    line-height: 1.25;
    border-radius: .35rem;
    transition: all .15s ease-in-out;
}
.btn:hover{
    -webkit-box-shadow: inset 0px -44px 80px -26px rgba(201,201,201,0.88);
    -moz-box-shadow: inset 0px -44px 80px -26px rgba(201,201,201,0.88);
    box-shadow: inset 0px -44px 80px -26px rgba(201,201,201,0.88);
}

.btn.__text_white{
    color: white;
}

.btn.__text_black{
    color: black;
}