h4,h5{
  margin-top: 0px;
  margin-bottom: 0px;
}

:root {
  --blockWidth: 450px;
}

.popup{
  font-family:  Arial, sans-serif;
  min-width: 300px;
  width: var(--blockWidth);
  height: calc(100vh - 30vh);
  margin-left: auto;
  margin-right: auto;
  background-color: #daf3ff;
  text-align: center;
  border-radius: 5px;
  position: relative;
  margin-top: 15vh;
  display: table;
}
.popup-inner{
  display: table-cell;
  vertical-align: middle;
}

.close-btn{
  width: 15px;
  height: 15px;
  right: 10px;
  top: 10px;
  position: absolute;
  display: table;
  background: url('../images/icon_close_stay.png') 100% 100% no-repeat;
  cursor: pointer;
}
.close-btn:hover{
  background: url('../images/icon_close_hover.png') 100% 100% no-repeat;
}

.fade-enter-active, .fade-leave-active {
  transform: scale(1);
  transition: .4s ease;
  opacity: 1;
}
.fade-enter, .fade-leave-to /* .fade-leave-active до версии 2.1.8 */ {
  opacity: 0;
  transform: scale(0.6);
}

.circle{
  width: calc(var(--blockWidth) - 40px);
  height: calc(var(--blockWidth) - 40px);
  margin-left: auto;
  margin-right: auto;
  border-radius: 50%;
  position: relative;
  background-color: #ffffff;
  text-align: center;
  display: table;
}

.circle_inner{
  display: table-cell;
  vertical-align: middle;
}

.circle_head{
  font-weight: bold;
  font-size: 23px;
}
.circle_text{
  font-weight: normal;
  font-size: 14px;
  color:#636b6f;
  margin-left: 20%;
  margin-right: 20%;
}
