<div v-if="!isOpen" class="popup">
    <span v-on:click="isOpen = !isOpen" class="close-btn"></span>
    <div class="popup-inner">
        <div class="circle">
            <div v-if="!hasGift" class="circle_inner ">
                <h5 class="circle_head ">Поздравляем!</h5>
                <p class="circle_text __margin-top_xs">Вы победили там то, вам полагается такой-то подарок!</p>
                <button v-on:click="getGift()" class="btn __text_white __margin-top_m">Получить</button>
            </div>
            <div v-show="hasGift" class="circle_inner ">

                <transition name="fade">
                    <img v-if="hasGift"  :src="'/dist/' + activeGift">
                </transition>
                <p class="circle_text __margin-top_m">Теперь подарок ваш!</p>
                <button v-on:click="isOpen = !isOpen" class="btn __text_white __margin-top_m">Спасибо</button>
            </div>
        </div>
    </div>
</div>